.delani {
    background-image: url(./assets/backgrounds/h_img.jpg);
    background-size: cover;
    text-align:center;
    color: white;
}
.Dlogo {
   margin-left: auto; 
   margin-right: auto;
   display: block;
}
.mouseclick {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.aboutus {
    text-align:center;
    color:black;
}
.services {
    background-image: url(./assets/backgrounds/s_image.jpg);
    background-size: cover;
    color: white;
}
.container-fluid {
    background-image: url(./assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-position: cover;
    margin-top: 50px;
}    